.layout{
   display:flex;
   align-items:center;
}

.sendButton{
    margin-left:10px;
    height:80%;
    width:50px;
    border-radius:25px;
}

.messageInput{
    flex: auto;
    height:80%;
    border-radius:25px;
    padding:0px 10px 0px 10px;
}