.layout{
    width:100%;
    height:100%;
    background-color:rgba(240,244,247,1);
    border-radius:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.title{
    font-size:2em;
    color:rgba(82,153,229,1);
    text-align:center;
    text-decoration: underline;
    margin-top:-20px;
}

.nameInput{
    height:35px;
    margin-top:10%;
    flex:inherit;
}

.nameInput:focus{
    height:35px;
    margin-top:10%;
    flex:inherit;
}

.btn{
    height:35px;
    margin-top:10%;
    width:20%;
}

.btn:focus{
    height:35px;
    margin-top:10%;
    width:20%;
}

.errorTXTStyle{
    font-size: 1.5em;
    color:red;
    margin-top:20px;
}