.horizontalLine{
    height:4px;
    width:100%;
    background-color:black;
    background-color:rgba(240,244,247,1);
}

.verticalLine{
    width:4px;
    height:100%;
    background-color:black;
    background-color:rgba(240,244,247,1);
}