.chat_application_layout {
  display: flex;
  height: 100%;
}

.friends_panel_layout {
  width: 25%;
  padding:10px;
}

.chatContainerLayout {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.chatLayout{
  padding:10px;
  height:95%;
}

.messageInputContainerLayout{
  height:5%;
  padding:10px;
}