.sendButton{
    margin-left:10px;
    height:80%;
    width:80px;
    border-radius:25px;
    background-color:rgba(82,153,229,1);
    color: white;
    font-size:1.2em;
    border: solid 3px rgba(82,153,229,1);
    cursor: pointer;
    transition: all 0.2s;
}

.sendButton:active{
    margin-left:10px;
    height:80%;
    width:80px;
    border-radius:25px;
    background-color:rgb(0, 123, 255);
    color: white;
    font-size:1.2em;
    border: solid 3px rgb(22, 125, 255);
    cursor: pointer;
}